FRONTEND_URL=http://localhost:8000
BACKEND_URL=http://localhost:8000
DATABASE_URL=sqlite:///./postiz.db
JWT_SECRET=generate-a-long-random-secret
UPLOAD_DIRECTORY=./uploads

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
MEDIUM_API_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
TELEGRAM_BOT_TOKEN=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
MASTODON_CLIENT_ID=
MASTODON_CLIENT_SECRET=
MASTODON_URL=https://mastodon.social
PINTEREST_CLIENT_ID=
PINTEREST_CLIENT_SECRET=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
X_API_KEY=
X_API_SECRET=
# STRIP_LINKS_FROM_X_POSTS=true
TIKTOK_CLIENT_ID=
TIKTOK_CLIENT_SECRET=
THREADS_APP_ID=
THREADS_APP_SECRET=
TUMBLR_CLIENT_ID=
TUMBLR_CLIENT_SECRET=
VK_ID=
KICK_CLIENT_ID=
KICK_CLIENT_SECRET=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
